<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

Welcome To Angular
<!-- app.component.html -->
<h1>{{ title }}</h1>
<button class="btn btn-primary" (click)="createM()">Add+</button>&nbsp;&nbsp;
<button class="btn btn-info" (click)="getAllstudent()">Get All Students</button>
<br><br>


<div *ngIf="getAllStdV==1">
    <table  class="table table-striped">
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Age</th>
        <th>Email Id</th>
        <th>Address</th>
        <th>Action</th>
        <th>Action</th>
      </tr>      
      <tr *ngFor="let student of stdList">
        <td>{{student.id}}</td>
        <td> {{ student.name }} </td>
        <td> {{ student.age }} </td>
        <td> {{ student.email }} </td>
        <td> {{ student.address }} </td>
        <td> <button class="btn btn-danger" (click)="deleteStudent(student.id)">Delete</button> </td>
        <td> <button class="btn btn-success" (click)="editButton(student)">Edit</button></td>
      </tr>
    </table>
</div>



<div *ngIf="createV==1">
  <h2>Add New Student</h2>
  <form #addStudentForm="ngForm">
      Name: <input type="text" [(ngModel)]="stdObj.name" name="name" placeholder="Name" required><br><br>
      Age: <input type="number" [(ngModel)]="stdObj.age" name="age" placeholder="Age" required min="1" max="100"><br><br>
      Email: <input type="email" [(ngModel)]="stdObj.email" name="email" placeholder="Email" required><br><br>
      Address: <input type="text" [(ngModel)]="stdObj.address" name="address" placeholder="Address" required><br><br>
      <button class="btn btn-success" (click)="addStudent(stdObj)" [disabled]="!addStudentForm.valid">Add Student</button>&nbsp;&nbsp;
      <button class="btn btn-secondary" (click)="backMenuMethod()">Back</button>
  </form>
</div>


<div *ngIf="editV==1">
  <h2> Update Student</h2>
  Name :  <input type="text" [(ngModel)]="editObj.name" placeholder="Name" required><br><br>
  Age :  <input type="number" [(ngModel)]="editObj.age" placeholder="Age" required><br><br>
  Email :  <input type="email" [(ngModel)]="editObj.email" placeholder="Email" required><br><br>
  Address :  <input type="text" [(ngModel)]="editObj.address" placeholder="Address" required><br><br>
 <button class="btn btn-success" (click)="updateStudent(editObj.id, editObj)">Update Student</button>&nbsp;&nbsp;
 <button class="btn btn-secondary" (click)="backMenuMethod()">Back</button>
</div>

  